h1 {
    color: lightcoral;
    text-align: center;
    background-color: #333333;
    margin: 10px;
    padding: 10px;
    font-size: 28px;
    border-style: groove;
    border-width: 10px;
    border-color: lightcoral;
}

h3 {
    text-align: center;
}

body {
    background-color: lavender;
    font-family: serif;
    color: black;
    margin: 0px;
    padding: 0px;
}

#main-bio {
    float: left;
    width: 45%;
    padding: 10px;
}

.contact-info {
    float: left;
}


#bio-image {
    float: left;;
}

#main-bio {
    float: left;
}