h1 {
    color: lightcoral;
    text-align: center;
    background-color: #333333;
    margin: 10px;
    padding: 10px;
    font-size: 28px;
    border-style: groove;
    border-width: 10px;
    border-color: lightcoral;
}

h3 {
    text-align: center;
}

nav {
    margin: 10px;
    padding: 10px;
    
}

body {
    background-color: lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0px;
    padding: 0px;
}

main {
    margin: 50px;
    padding: 25px;
}

#repo {
    border-style: groove;
    border-width: 5px;
    text-align: center;
}

#summary {
    text-align: center;
}

#main-bio {
    text-align: center;
    margin: 20px;
}
#planner {
    display: flex;
    justify-content: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}